#################
## Eclipse
#################

*.pydevproject
.project
obj/

VisualStudioController/bin/
bin/Release/
binDebug/
Debug/
*.pdb
*.vshost.exe
*.vshost.exe.manifest
*.v12.suo
*.csproj.user
